/*Global configuración*/
html{
    font-size: 62.5%;
    box-sizing: border-box; /*Hack para box model */
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 16px; /*1 rem es igual a 10px*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #DFE9F3 0%, whitesmoke 50%);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    color: #031750;
    
}
.boton {
    background-color: #0EC3BB;
    color: whitesmoke;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
}
@media (min-width: 780px) {
    .boton {
        width: auto;
    }
}
.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.63);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}
/* Tipografía General */
h1 {
    font-size: 3.8rem; 
}
h2 {
    font-size: 2.8rem; 
}
h3 {
    font-size: 1.8rem; 
}
h1,h2,h3 {
    text-align: center;
}
/*Titulo*/
.titulo{
    color: #ffffff;
    background-color:#031750;
    /*border-radius: 5cm;*/
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.titulo span {
    font-size: 2rem;
    color: #ffffff;
    font-family: 400;    
}
/* Menú de navegación principal*/
.nav-bg{
    background-color: #0EC3BB;
    /*border-radius: 5cm;*/
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
@media (min-width: 768px) {
    .menu{
        flex-direction: row;
        justify-content: space-between;
    }
}

.menu a {
    color: blanchedalmond;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.menu a:hover {
    background-color: #FFC107;
    color: black;       
}
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    padding: 15rem;
    position: relative;
    border-radius: 2cm;
    margin-bottom: 2rem;
}
.contenido-hero{
    position: absolute;
    /*background-color: rgba(0,0,0,0.4); ESTO ES PARA LA OPACIDAD DE LA FOTO*/
    bottom: 0;
    left: 0cm;
    right: 0cm;
    top: 0cm; /*puede ser width: 100%, y height:100%*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,
.contenido-hero p {
    color: seashell;
}
.ubicacion {
    display: flex;
    font-size: 4rem;
}
/*Servicios*/
@media (min-width: 768px){
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /*También se puede poner grid-template-columns: 33% 33% 33%; también puede ser: 1fr 1fr 1fr; (que son fracciones) también puede ser: repeat(3, 1fr) o 300px 300px 300px*/
        grid-template-rows: 500px 200px;/*grid: 200px 200px / 300px 300px 300px; es lo mismo de arriba pero más corto*/
        column-gap: 1.5rem;
}
.servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.servicios p {
    line-height: 2;
    font-weight: normal;
    text-align: justify;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: #031750;
    border-radius: 5rem;
    display: flex;
    justify-content: center;    
    align-items: center;
}
}
/* Vamos con el formulario*/
.formulario {
    background-color: #031750;
    width:min-content (60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.63);
}
.formulario fieldset {
    border-style: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: whitesmoke;
}
.contenedor-campos {

}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: whitesmoke;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: block;
}
.input-text {
    width: 100%;
    border:none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}